h1 {
    text-align: center;
    font-weight: bold;
    margin-top: 50px;
}

p {
    text-align: center;
    padding: 0 250px;
    margin-top: 30px;
}

.download-text {
    color: #00B4D8;
}

iframe {
    margin: 0 10px;
    margin-top: 50px;
}