<<<<<<< HEAD
body {
    font-family: 'Quicksand', sans-serif;

}

footer {
    position: fixed; 
    padding: 10px 10px 0px 10px; 
    bottom: 0; 
    width: 100%; 
    /* Height of the footer*/  
    height: 40%; 
    padding: 0;
}
=======
>>>>>>> parent of 4ca29d4... Change the font
