{% extends 'base.html' %} {% load static %} 

{% block style %}
    <link rel="stylesheet" href="{% static "css/offline.css" %}">
{% endblock style %}

{% block content %}

<div class="offline-title">
    <h1>Video Offline</h1>
</div>

<div class="offline-description">
    <p>Sedang tidak terkoneksi dengan internet? Kamu bisa mengakses video yang pernah kamu <span class="download-text">download</span> disini</p>
</div>

<div class="row offline-video-container justify-content-center">
    <div>
        <iframe width="350" height="345" src="https://www.youtube.com/embed/tgbNymZ7vqY">
        </iframe>
    </div>

    <div>
        <iframe width="350" height="345" src="https://www.youtube.com/embed/tgbNymZ7vqY">
        </iframe>
    </div>

    <div>
        <iframe width="350" height="345" src="https://www.youtube.com/embed/tgbNymZ7vqY">
        </iframe>
    </div>
</div>

{% endblock content %}