{% load static %}

<nav class="navbar navbar-expand-lg py-3 navbar-dark bg-transparent shadow-sm">
    <div class="container">
        <a href="/aboutme/" class="navbar-brand">
            <!-- Logo Image -->
            <img src="{% static 'img/skype.png' %}" width="45" alt="" class="d-inline-block align-middle mr-2">
            <!-- Logo Text -->
            <span class="text-santuy text-uppercase font-weight-bold" style="color: #00AFF0;">Tutorin</span>
        </a>

        <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>

        <div id="navbarSupportedContent" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a href="#" class="nav-link" style="color: #00AFF0; font-weight: bold; ">Welcome</a></li>
                <li class="nav-item"><a href="#" class="nav-link" style="color: #00AFF0; font-weight: bold; ">Login</a></li>
                <li class="nav-item"><a href="#" class="nav-link" style="color: #00AFF0; font-weight: bold; ">Forum</a></li>
                <li class="nav-item"><a href="/offline" class="nav-link" style="color: #00AFF0; font-weight: bold; ">Offline Video</a></li>
                <li class="nav-item"><a href="#" class="nav-link" style="color: #00AFF0; font-weight: bold; ">My Class</a></li>
                <li class="nav-item"><a href="#" class="nav-link" style="color: #00AFF0; font-weight: bold; ">Profile</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- /.container -->